.header {
  display: grid;
  grid-template-columns: auto minmax(min-content, max-content);
  justify-content: space-between;

  span {
    margin-right: .25rem;
  }
}

.username {
  font-weight: 800;
  color: var(--very-dark-grey-blue);
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    color: var(--blue);
  }
}

.heading {
  font-weight: 500;
  color: var(--dark-grey-blue);
}

.related-content {
  text-decoration: none;
  font-weight: 700;
  color: var(--blue);

  &:visited {
    color: var(--dark-grey-blue);
  }

  &:hover &:active {
    color: var(--blue);
  }

  &[data-fake-visited=true] {
    color: var(--dark-grey-blue);
  }
}

.unread-indicator {
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--red);
  border-radius: 50%;
  display: inline-block;
  margin-left: .4rem;
}

.ago {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey-blue);
}

.sentImageSrc {
  min-width: 39px;
  height: 39px;
  object-fit: contain;
  object-position: right;
  cursor: pointer;
}

