.notification-card {
  display: grid;
  grid-template-columns: 3.25rem auto;
  grid-template-rows:auto 1fr;
  grid-auto-flow: dense;
  font-size: 0.875rem;
  padding: 1rem 1rem;
  border-radius: .5rem;

  &[data-read=false] {
    background-color: #F7FAFD;
  }

  .avatar-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .message-container {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
