.main {

}

.message {
  margin-top: .5rem;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  color: var(--dark-grey-blue);
  border: 1px var(--very-light-grey-blue) solid;
  border-radius: .4rem;
  padding: .75rem 1rem;
}
