.notification-cards {
  display: grid;
  grid-template-rows: 4.5rem auto;
  justify-content: start;
  margin: 0 1rem;
  background-color: white;
  overflow: hidden;
  position: relative;
  max-height: 839px;

  @media screen and (min-width: 730px) {
    margin: 4rem 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    max-width: 730px;
    filter: drop-shadow(0 .5rem .5rem var(--very-light-grey-blue));
  }

  &-container {
    display: grid;
    grid-row-gap: .65rem;
    align-content: start;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

